@import "../variables";

.inbox-item {
  padding: 20px 15px;
  background: $_grey;
  border-bottom: 1px solid #505364;

  &:last-of-type {
    border-bottom: none;
  }

  img {
    margin-right: 10px;
  }

  &-user {
    a {
      @include font(white, 700, 14);
      text-decoration: none!important;
    }
    @include font(white, 700, 14);
    max-width: 60%;
  }

  &-data {
    width: calc(100% - 46px);
  }

  &-time {
    @include font($_fgrey, 700, 12);
    white-space: nowrap;

    &.new {
      color: $_blue;
    }
  }

  &-text {
    @include font($_fgrey, 700, 12);
    margin-top: 10px;
    line-height: 24px;
  }
}