@import "../variables";

.home-page .inbox {
  &-header {
    margin-top: 15px;
  }

  &-new {
    color: $_blue;
  }

  &-list {
    max-height: 225px;
    min-height: 225px;
    overflow: scroll;
    background: $_grey;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}