@import "../variables";

.home-page .project-list {
  background: $_grey;
  max-height: 296px;
  overflow: scroll;
  padding: 0;

  &::-webkit-scrollbar {
    width: 0;
  }

  &-header {
    margin-top: 50px;

    @media (max-width: $_max_md) {
      margin-top: 15px;
    }
  }
}