@import '../variables';

.statistics-page .panel {
  &-item {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(156, 161, 178, 0.3);
  }

  &-data {
    @include font(white, 500, 14);
    display: flex;
    align-items: center;
    position: relative;

    &.status {
      text-transform: capitalize;

      &.active::before {
        content: '';
        display: block;
        height: 11px;
        width: 11px;
        border-radius: 50%;
        background: $_green;
        margin-right: 10px;
      }

      &.disable::before {
        content: '';
        display: block;
        height: 11px;
        width: 11px;
        border-radius: 50%;
        background: $_red;
        margin-right: 10px;
      }
    }

    & > div {
      max-width: 90%;
    }

    @media (max-width: $_max_md) {
      padding: 5px 0 5px 35%!important;
      width: 100%;

      @media (max-width: $_max_xs) {
        padding-left: 40%!important;
      }

      &:nth-of-type(1)::after {
        content: 'Campaign:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }

      &:nth-of-type(2)::after {
        content: 'Time:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }

      &:nth-of-type(3)::after {
        content: 'Views:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }

      &:nth-of-type(4)::after {
        content: 'Visitors:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }

      &:nth-of-type(5)::after {
        content: 'CTR:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }

      &:nth-of-type(6)::after {
        content: 'CPC:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }

      &:nth-of-type(7)::after {
        content: 'CPV:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }

      &:nth-of-type(8)::after {
        content: 'CPM:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }

      &:nth-of-type(9)::after {
        content: 'Status:';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        @include font($_fgrey, 500, 14);
      }
    }

    @media (min-width: $_min_lg) {
      &:nth-of-type(1) {
        padding-left: 50px;
        width: 30%;
      }

      &:nth-of-type(n+2):nth-of-type(-n+4), &:nth-of-type(9) {
        width: 10%;
      }

      &:nth-of-type(n+5):nth-of-type(-n+8) {
        width: 7.5%;
      }
    }
  }
}