@import '../variables';

.statistics-page .line-chart {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $_max_md) {
      flex-direction: column-reverse;
      justify-content: center;
      margin-top: 50px;
    }
  }

  &-period {
    background: $_dgrey;
    border: none;
    @include font($_fgrey, 700, 14);
    padding-right: 30px;

    &-wrapper {
      display: flex;
      align-items: center;
      border: 1px solid rgba(158, 163, 180, 0.3);
      border-radius: 18px;
      position: relative;
      padding: 7px 15px;

      &::before {
        content: 'Show:';
        right: calc(100% + 20px);
        position: absolute;
        @include font($_fgrey, 700, 14);
      }

      @media (max-width: $_max_sm) {
        &::before {
          content: '';
        }
      }
    }
  }
}