@import "../variables";

.sign-form-input.login {
  &.username {
    &.available {
      border-bottom: 1px solid $_green;

      & + span {
        position: absolute;
        left: 0;
        bottom: 0;

        &::after {
          content: 'Username is available';
          white-space: nowrap;
          @include font($_green, 500, 12);
          position: absolute;
          bottom: -20px;
          left: 10px;
        }
      }
    }

    &.unavailable {
      border-bottom: 1px solid $_red;

      & + span {
        position: absolute;
        left: 0;
        bottom: 0;

        &::after {
          content: 'Unknown username';
          white-space: nowrap;
          @include font($_red, 500, 12);
          position: absolute;
          bottom: -20px;
          left: 10px;
        }
      }
    }
  }

  &.password.incorrect {
    border-bottom: 1px solid $_red;

    & + span {
      position: absolute;
      left: 0;
      bottom: 0;

      &::after {
        content: 'Password is incorrect';
        white-space: nowrap;
        @include font($_red, 500, 12);
        position: absolute;
        bottom: 30px;
        left: 10px;
      }
    }
  }
}