@import "../variables";

.sign-form-input.register {
  &.password {
    &.valid {
      border-bottom: 1px solid $_green;

      & + span {
        position: absolute;
        left: 0;
        bottom: 0;

        &::after {
          content: 'Password is valid';
          white-space: nowrap;
          @include font($_green, 500, 12);
          position: absolute;
          bottom: 30px;
          left: 10px;
        }
      }
    }

    &.short {
      border-bottom: 1px solid $_red;

      & + span {
        position: absolute;
        left: 0;
        bottom: 0;

        &::after {
          content: 'Password is too short';
          white-space: nowrap;
          @include font($_red, 500, 12);
          position: absolute;
          bottom: 30px;
          left: 10px;
        }
      }
    }

    &.long {
      border-bottom: 1px solid $_red;

      & + span {
        position: absolute;
        left: 0;
        bottom: 0;

        &::after {
          content: 'Password is too long';
          white-space: nowrap;
          @include font($_red, 500, 12);
          position: absolute;
          bottom: 30px;
          left: 10px;
        }
      }
    }
  }

  &.username {
    &.free {
      border-bottom: 1px solid $_green;

      & + span {
        position: absolute;
        left: 0;
        bottom: 0;

        &::after {
          content: 'Username is free';
          white-space: nowrap;
          @include font($_green, 500, 12);
          position: absolute;
          bottom: -20px;
          left: 10px;
        }
      }
    }

    &.busy {
      border-bottom: 1px solid $_red;

      & + span {
        position: absolute;
        left: 0;
        bottom: 0;

        &::after {
          content: 'Username is busy';
          white-space: nowrap;
          @include font($_red, 500, 12);
          position: absolute;
          bottom: -20px;
          left: 10px;
        }
      }
    }
  }
}