@import "../variables";

.sign {
  &-page {
    width: 90%;
    min-height: 50vh;
    background: $_grey;

    @media (min-width: $_min_md) {
      width: 70%;
    }

    @media (min-width: $_min_lg) {
      width: 50%;
    }

    &-wrapper {
      background: $_dgrey;
      min-height: 100vh;

      .container {
        min-height: 100vh;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .nav {
      border-bottom: none;
      width: 100%;

      &-item {
        width: 50%;
        margin: 0;
      }

      &-link {
        border-radius: 0;
        transition: .3s;
        @include font(white!important, 700, 18);
        padding: 20px 0;
        width: 100%;
        text-align: center;
        border: none;
        border-bottom: 3px solid transparent;

        &.active {
          background: transparent;
          border: none;
          color: white;
          border-bottom: 3px solid $_blue;

          &:hover {
            border-bottom: 3px solid $_blue;
            color: white;
          }
        }

        &:hover {
          border: none;
          border-bottom: 3px solid transparent;
        }
      }
    }
  }

  &-tab {
    padding: 30px 0;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-label {
      @media (min-width: $_min_md) {
        width: 50%;
      }

      width: 80%;
      margin: 0;
      position: relative;

      &:last-of-type > input{
        margin-bottom: 50px;
        font-size: 24px;
      }
    }

    &-input {
      background: transparent;
      border: none;
      border-bottom: 1px solid $_blue;
      margin-top: 20px;
      height: 40px;
      width: 100%;
      padding: 8px 10px;
      border-radius: 0;

      @include font(white, 500, 16);

      &::-webkit-input-placeholder {
        @include font($_fgrey, 500, 14);
      }

      &:focus, &:active {
        box-shadow: none !important;
        outline: none !important;
      }
    }

    &-submit {
      border-radius: 36px;
      padding: 15px 0;
      text-align: center;
      background: $_blue;
      @include font(white, 700, 18);
      letter-spacing: 5px;
      width: 70%;

      @media (min-width: $_min_md) {
        width: 40%;
      }
    }
  }
}