@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '../../node_modules/font-awesome/css/font-awesome.css';
@import './variables.scss';

li {
  list-style-type: none;
}

ul, ol, p, h1, h2, h3, h4, h5, h6, blockquote {
  margin-bottom: 0;
}

button, a {
  cursor: pointer;
  border: none;
  background: transparent;
  text-decoration: none;
  &:focus, &:active {
    outline: none!important;
    box-shadow: none!important;
  }
}

ul, ol {
  padding: 0;
}

select {
  &:focus, &:active {
    outline: none!important;
    box-shadow: none!important;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.hidden {
  overflow: hidden;
}

.page {
  padding: 60px 0 0 60px;
  width: 100%;
  min-height: 100vh;
  background: $_dgrey;
  position: relative;
  overflow: hidden;
}

.home-section-title {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    @include font(white, 700, 20);
  }
}

.conversations-page {
  position: relative;

  .row {
    flex-wrap: nowrap;
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
  }
}