$_min_sm: 425px;
$_min_md: 768px;
$_min_lg: 992px;
$_min_xl: 1200px;

$_max_xs: #{$_min_sm - 1px};
$_max_sm: #{$_min_md - 1px};
$_max_md: #{$_min_lg - 1px};
$_max_lg: #{$_min_xl - 1px};

$_blue: #2196f3;
$_fgrey: #9ca1b2; // font grey
$_lgrey: #3a3e52; // light grey
$_grey: #2f3242;
$_dgrey: #2a2c3b; // dark grey
$_green: #4caf50;
$_red: #f44336;

@mixin font($color, $weight, $size) {
  color: $color;
  font: $weight #{$size}px 'Montserrat', 'Helvetica', 'Verdana', sans-serif;
}